# Prevent issues with "index" controller and root index.php
Options -MultiViews

# Activate URL rewriting (like hybridmarket.com/controller/action/1/2/3)
RewriteEngine On

# Prevent directory listing
Options -Indexes

# Uncomment if your app is in a sub-folder
# RewriteBase /hybridcore/

# General rewrite rules
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?route=$1 [QSA,L]
